body{
	padding:30px 30px 30px 30px;
	display: flex;
	justify-content: center;
}
#container{
	display: flex;
	flex-direction: column;

}
.movieInput{
	width:25vw;
}
#spinnerDiv{
	display: flex;
	justify-content: center;	
}
